<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header>
		<h1 class="title">タスク編集入力</h1>
	</header>	
	<div class="update">
		<form method="post" th:action="@{/taskUpdateComplete}" th:object="${task}">
			<!-- タスク名 -->
			<div class="form">
				<div class="label">タスク名</div>
				<div class="input">
					<input type="text" th:field="*{taskName}" />
					<span th:errors="*{taskName}"></span>
				</div>
			</div>

			<!-- 詳細説明 -->
			<div class="form">
				<div class="label">詳細説明</div>
				<div class="input">
					<input type="text" th:field="*{taskContents}" />
					<span th:errors="*{taskContents}"></span>
				</div>
			</div>

			<!-- 完了期限 -->
			<div class="form">
				<div class="label">完了期限</div>
				<div class="label">日付</div>
				<div class="input">
					<input type="date" th:field="*{date}" />
				</div>
				<div class="label">時刻</div>
				<div class="input">
					<input type="time" id="timePicker" th:field="*{deadlineTime}"/>
				</div>
			</div>

			<!-- 重要度 -->
			<div class="form">
				<div class="label">重要度</div>
				<div class="input">
					<select id="importanceId" name="importanceId" onchange="this.form.submit()">
						<option th:value="1" th:text="通常" th:selected="${task.importanceId == 1}">通常</option>
						<option th:value="2" th:text="重要" th:selected="${task.importanceId == 2}">重要</option>
						<option th:value="3" th:text="最重要" th:selected="${task.importanceId == 3}">最重要</option>
					</select>
				</div>
			</div>
			<div class="form">
			<input type="hidden" th:field="*{taskId}">
			</div>

			<!-- 完了ボタン -->
			<div class="form">
				
					<input type="submit" value="完了" />
				</div>
			</div>
		</form>

		<!-- 戻るボタン -->
		<form method="get" th:action="@{/taskDetail/{taskId}(taskId=${taskId})}" th:object="${task}">
			<div class="form">
				<div class="label"></div>
				<div class="input" type="hidden" th:field="*{taskId}">
					<input type="submit" value="戻る"></input>
				</div>
			</div>
		</form>
	</div>


</body>

</html>