<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}"></html>
<head>
	<title>新規タスク登録確認</title>
	<meta charset="UTF-8">
</head>
<body class="admin regist_task_check_admin">
	<h3>新規タスク登録確認画面</h3>
	
	<div class="update">
		<div class="form">
			<div class="label">タスク名</div>
			<div class="input" th:text="${spring.taskName}"></div>
		</div>
		
		<div class="form">
			<div class="label">詳細説明</div>
			<div class="input" th:text="${spring.taskContents}"></div>
		</div>
		
		<div class="form">
			<div class="label">完了期限</div>
			<div class="label">日時</div>
			<div class="input" th:text="${spring.deadlineDate}"></div>
			<div class="label">時刻</div>
			<div class="input" th:text="${spring.deadlineTime}"></div>
		</div>
		
		<div class="form">
			<div class="label">重要度</div>
			<div class="input" th:text="${spring.importanceId}">
				<span th:case="1">通常</span>
				<span th:case="2">重要</span>
				<span th:case="3">最重要</span>
			</div>
		</div>
		
		<form method="post" th:action="@{/task/regist/complete}" th:object="${taskForm}">
			<dic class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" th:field="*{taskName}" />
					<input type="hidden" th:field="*{taskContents}" />
					<input type="hidden" th:field="*{deadlineDate}" />
					<input type="hidden" th:field="*{importanceId}" />
					<input type="hidden" th:field="*{deadlineTime}" />
					<input type="submit" value="登録" />
				</div>
			</dic>
		</form>
		
		<form  method="post" th:action="@{/task/regist/input}" th:object="${taskForm}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" th:field="*{taskName}" />
					<input type="hidden" th:field="*{taskContents}" />
					<input type="hidden" th:field="*{deadlineDate}" />
					<input type="hidden" th:field="*{importanceId}" />
					<input type="hidden" th:field="*{deadlineTime}" />
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>

</body>
</html>