<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規ユーザ登録確認画面</title>
</head>

<body>
	<h1>新規ユーザ登録確認画面</h1>

	<!--	入力フォームにて利用:パスワード入力の目のアイコンの表示に利用-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

	<!-- スクリプト文 -->
	<script>
		function pushHideButton() {
			var passText = document.getElementById("passText");
			var eyeButton = document.getElementById("eyeButton");
			if (passText.type === "text") {
				passText.type = "password";
				eyeButton.className = "fa fa-eye";
			} else {
				passText.type = "text";
				eyeButton.className = "fa fa-eye-slash";
			}
		}
	</script>

	<div th:object="${personalForm}">

		<!-- 名前 -->
		<div>
			<label>名前</label>
			<input type="text" class="input-box" th:field="*{personalName}" readonly />
		</div>

		<!-- 生年月日 -->
		<div>
			<label>生年月日</label>
			<input type="text" class="input-box" th:value="${#dates.format(personalForm.birthday, 'yyyy/MM/dd')}"
				readonly />

		</div>

		<!-- メールアドレス -->
		<div>
			<label>メールアドレス</label>
			<input type="text" class="input-box" th:field="*{address}" readonly />
		</div>

		<!-- パスワード -->
		<div class="input">
			<label>パスワード</label>
			<input type="password" id="passText" th:value="*{personalPass}" readonly />
			<span id="eyeButton" class="fa fa-eye" onclick="pushHideButton()"></span>
		</div>

		<!-- 登録ボタン -->
		<form method="post" th:action="@{/personalregistcomplete}">
			<input type="hidden" th:field="*{personalName}" />
			<input type="hidden" th:field="*{birthday}" />
			<input type="hidden" th:field="*{address}" />
			<input type="hidden" th:field="*{personalPass}" />
			<input type="submit" value="登録" />
		</form>

		<!-- 戻るボタン -->
		<form method="post" th:action="@{/personalregistinput}">
			<input type="hidden" th:field="*{personalName}" />
			<input type="hidden" th:field="*{birthday}" />
			<input type="hidden" th:field="*{address}" />
			<input type="hidden" th:field="*{personalPass}" />
			<input type="submit" value="戻る" />
		</form>
	</div>
	</div>

</body>

</html>