<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>タスク管理システム</title>
</head>
<body>
	
	<!-- 選択されたタスクの詳細説明 -->
	<!--下２行のdivタグの中身だいぶ怪しい-->
	<div class="update" method="post" th:action="@{/taskUpdate}">
		<div class="form">
			<div class="label">タスク名</div>
			<div class="input" th:text="${task.taskName}"></div>
		</div>
		
		<div class="form">
			<div class="label">詳細説明</div>
			<div class="input" th:text="${task.taskContents}"></div>
		</div>
		
		<div class="form">
			<div class="label">完了期限</div>
			<div class="label">日時</div>
			<div class="input" th:text="${#temporals.format(task.Date,'yyyy/MM/dd')}"></div>
			<div class="label">時刻</div>
			<div class="input" th:text="${#temporals.format(task.deadlineTime,'H:mm')}"></div>
		</div>
		
		<div class="form">
			<div class="label">重要度</div>
			<div class="input" th:switch="${task.importanceId}">
				<span th:case="1">通常</span>
				<span th:case="2">重要</span>
				<span th:case="3">最重要</span>
			</div>
		</div>
		<!--編集ボタン-->
		<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="編集" />
				</div>
		</div>
	</div>	
	<form th:action="@{/backToTaskList}">
			<!-- 戻るボタン -->
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="戻る" />
				</div>
			</div>
	</form>


</body>
</html>